<h1>ORDER CONFIRMATION</h1>
 
<h3>NAME:</h3>
<p><%= @shoos.pretty_name %></p>

<h3>ADDRESS</h3>
<p><%= @shoos.address %></p>

<h3>SIZE</h3>
<p><%= @shoos.size %></p>

<h3>QUANTITY</h3>
<p><%= @shoos.quantity %></p>

<h3>$$$</h3>
<p><%= @shoos.cost %></p>